{% extends "base.html.twig" %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="row py-2">
            <img src="https://s7g10.scene7.com/is/image/aldi/csobbanjon_bele_a_nyarba_aldi_aron_ajanlatok_majus_18_csutortoktol_2600x600px?$E21-XS$" />
        </div>
        <div class="row py-2">
            <div class="col">
                <img src="https://s7g10.scene7.com/is/image/aldi/aldi_nyitas_nagykanizsa_1200x550px?fmt=png-alpha" alt="Aldi" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://s7g10.scene7.com/is/image/aldi/aldi_roksh_elelmiszer_hazhozszallitas_1200x550px?$E05-XL$" alt="Aldi" class="img-fluid">
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <img src="https://s7g10.scene7.com/is/image/aldi/aldi_tobb_mint_90_ackio_csutortoktol_1320x1100px-1?$E05-XL$" alt="Aldi" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://s7g10.scene7.com/is/image/aldi/aldi_mindig_friss_piacter_1320x1100px?$E05-XL$" alt="Aldi" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://s7g10.scene7.com/is/image/aldi/aldi_hetvegi_akcio_1320x1100px?$E05-XL$" alt="Aldi" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://s7g10.scene7.com/is/image/aldi/aldi_fantasztikus_akciok_1320x1100px?$E05-XL$" alt="Aldi" class="img-fluid">
            </div>                                    
        </div>
    </div>
{% endblock %}
