<nav class="navbar navbar-dark" style="background:#344384">
  <div class="container">
    <a class="navbar-brand">
      <img src="https://s7g10.scene7.com/is/image/aldi/ALDI_HU_Logo_Header?$G05-Logo-XL$&fmt=png-alpha" />
    </a>
    <form class="d-flex gap-2 w-100">
      <input class="form-control" type="search" placeholder="Keresés a termékek, receptek és egyéb tartalmak között" aria-label="Search">
      <button class="btn btn-outline-primary rounded-pill btn-block text-white px-5">Listám</button>
      <button class="btn btn-primary rounded-pill btn-block text-white px-5">Kosaram</button>
    </form>
  </div>
</nav>