{% extends "base.html.twig" %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container py-5">
        <p class="fw-bold">Találtok a(z) "{{searchQuery}}" kifejezésre</p>
        <div class="row py-2">
            <img src="https://s7g10.scene7.com/is/image/aldi/csobbanjon_bele_a_nyarba_aldi_aron_ajanlatok_majus_18_csutortoktol_2600x600px?$E21-XS$" />
        </div>
    </div>
{% endblock %}